* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #E9E9E9;
    font-family: 'Cormorant Garamond', sans-serif;
}

header {
    height: 100vh;
    z-index: 99;
    width: 100%;
    background-image: url('../images/headerbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

h1, h2 {
    font-family: "Vollkorn SC", sans-serif;
}

a {
    color: #E9E9E9;
    transition: box-shadow 0.3s;
    text-decoration: none;
}
.navbar {
    margin: 0 5%;
    font-size: 20px;
    font-weight: 400;
    color: #E9E9E9;
    padding: 2% 19%;


}

.navbar a {
    margin-right: 37px;
}

.logo {
    text-align: center;
    margin-top: 150px;

}

.logo > h1 {
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    transition: font-size 0.3s;
}

.logo > p {
    font-weight: 400;
    font-size: 30px;
    line-height: 5px;
    
}

.logo > h1:hover {
    font-size: 115px;
}

#menuhead {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
    font-size: 32px;
    border: 2px solid #fafafa;
    width:250.33px;
    height: 70.83px;
    border-radius: 60%;
    transform: rotate(-10deg);
    
}

#menuhead > p {
    line-height: 45px;
    transform: rotate(10deg);
    font-weight: 600;
    border: 2px solid #fafafa;
    border-radius: 50%;
}

.box-shadow:active {
    box-shadow: 0 2px 4px rgba(255, 254, 254, 0.5);
}









