* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/*Parent elements*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #E9E9E9;
    font-family: 'Cormorant Garamond', sans-serif;
}

header {
    height: 100vh;
    z-index: 99;
    width: 100%;
    background-image: url('../images/headbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*Backgrounds for different pages*/
#menuheadbg {
    height: 100vh;
    z-index: 99;
    width: 100%;
    background-image: url('../images/menuheadbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#aboutusheadbg {
    height: 100vh;
    z-index: 99;
    width: 100%;
    background-image: url('../images/aboutus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*Header h2*/
header > h2 {
    display: none;
    position: absolute;
    top: 25px;
    left: 13px;
    font-size: 1em;
    font-weight: 600;
}

main {
    flex: 1 0 auto;
    background-color: #2E2E34;
    min-height: 100vw;
}

footer {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    height: 223px;
    background-color: #6F5748;
}
/*Footer for About Us page*/
.pinkfot {
    background-color: #c29689;
}
/*Footer styling*/
.fotdiv {
    width: 60%;
    margin: 0 auto;

}

.fotlogo {
    text-align: center;
    margin-top: 26px;
}

.fotlogo > h2 {
    line-height: 27.72px;
    font-size: 32px;
}

.fotlogo > p {
    font-size: 16px;
    line-height: 14.75px;

}

.fotnav  {
    width: 100%;
    margin: 20px auto;
    text-align: center;
   
}

.fotnav a {
   margin-right: 35px;
   font-size: 16px;
   line-height: 19px;
}


.foticon {
    text-align: center;
    font-size: 30px;
}

.fotp {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 3em;
    font-weight: 200;
}

.foticon i {
    display: inline-block;
    margin-right: 0.5em;
}
/*Navigation*/
.navigation {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 3%;
    font-size: 24px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;

}

.navigation li {
    display: inline-block;
    margin-right: 4.5%;

}
/*Hover and active links stylings*/
.navhov:hover {
    color: #6F5748;

}

.navhov2 {
    border-bottom: 1px solid white;
}
.navhov3 {
    color:#6F5748;
}
.navhov4:hover {
    color: #c3978a;
}




/*Main headers logo styling*/
h1,
h2 {
    font-family: "Vollkorn SC", sans-serif;
}

a {
    color: #E9E9E9;
    transition: box-shadow 0.3s;
    text-decoration: none;
}


.logo {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30%;


}

.logo > h1 {
    font-weight: 400;
    font-size: 128px;
    line-height: 0.8em;
}

.logo>p {
    font-weight: 400;
    font-size: 40px;
    line-height: 1em;

}

/*Menu button*/
.menuheadcontainer {
    width: 100%;
    margin-top: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuhead {
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    font-size: 32px;
    border: 1px solid #6F5748;
    width: 9em;
    height: 2.3em;
    border-radius: 60%;
    transform: rotate(-10deg);

}
#abmenuhead {
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    font-size: 32px;
    border: 1px solid #c29689;
    width: 9em;
    height: 2.3em;
    border-radius: 60%;
    transform: rotate(-10deg);

}
#abmenuhead > a p {
    line-height: 1.7em;
    transform: rotate(10deg);
    font-weight: 600;
    border: 1px solid #c29689;
    border-radius: 50%;
}


#menuhead > a p {
    line-height: 1.7em;
    transform: rotate(10deg);
    font-weight: 600;
    border: 1px solid #6F5748;
    border-radius: 50%;
}


/* Shedule section*/



#shedule {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;

}

#shedule > h1 {
    margin-top: 1em;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 1em;
}

.menushed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.menushed > div {
    flex-basis: 30%;
    margin-bottom: 2em;
    text-align: center;
}

.menushed > div h3 {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 700;
}

.menushed > div p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2em;
}



#nav-toggle,
.nav-toggle-label {
    display: none;
}

/*Chefs Section*/
#chefs {
    margin: 0 auto;
    width: 90%;
}

#chefs>h1 {
    text-align: center;
    font-size: 48px;
    line-height: 66.86px;
    font-weight: 400;
    margin-bottom: 40px;

}

.chefsphotos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 282px;
}

#chef1 {
    background-image: url(../images/1chef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90%;
    width: 30%;
}

#chef2 {
    background-image: url(../images/2chef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 95%;
    width: 30%;
}

#chef3 {
    background-image: url(../images/3chef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 30%;
}

#chef4 {
    background-image: url(../images/4chef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 95%;
    width: 30%;
}

#chef5 {
    background-image: url(../images/lastchef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90%;
    width: 30%;
}

#chefsquoute {
    margin: 30px auto;
    width: 40%;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 29.06px;

}

#paul {
    line-height: 40px;
    font-size: 24px;
    font-weight: 600;
}


/*Reservation Section */

#reservation {
    width: 60%;
    margin: 20px auto;
}

#reservation > h1 {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 66.86px;
    margin-bottom: 40px;
}

.reservinput {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

}

input[type="text"] {
    background-color: #2E2E34;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    width: 49%;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    color: #BCBCBC;
}

input[type="number"] {
    background-color: #2E2E34;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    width: 49%;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    color: #BCBCBC;

}

select {
    background-color: #2E2E34;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    width: 22%;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    color: #BCBCBC;
}

textarea {
    width: 49%;
    height: 120px;
    background-color: #2E2E34;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    color: #BCBCBC;
    padding: 5px;
}




button {
    width: 40%;
    height: 60px;
    background-color: #6F5748;
    border-radius: 5px;
    border: none;
    margin: 30px 0 0 40px;
    color: #F0F0F0;

    font-size: 32px;
    font-family: "Vollkorn SC", sans-serif;

}

/*Menu Page*/

#mainmenu {
    width: 100%;
    margin: 30px auto;
}
.mainmenuheader {
    width: 100%;
    text-align: center;
}
.mainmenuheader h2 {
    margin: 0 30px;
    display: inline;
    font-weight: 400;
    font-size: 30px;
}

.dishes {
    margin: 70px auto;
    width: 75%;
}

.dishes div h3 {
    margin: 40px 0;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.dishes div p {
    font-weight: 400;
    font-size: 32px;
}

/*About Us*/ 


#history {
    height: 60vh;
    margin: 50px auto;
    width: 90%;
    display: flex;
    gap: 30px;
}
#historyh1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 30px 0;
}

.histlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url(../images/historyphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 20px #d5b1a3;
    border-radius: 5%;
}

.histlogo > h1 {
    font-size: 48px;
    font-weight: 400;

}
.histtext{
    padding: 20px;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 20px #d5b1a3;
    border-radius: 5%;
}
.histtext > h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 20px;

}

.histtext > p {
    font-size: 17px;
}

/*Location Section*/

#locationh1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 30px 0;
}
#location {
    width: 90%;
    margin: 40px auto;
}
iframe {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 20px #d5b1a3;
}

/*Awards Section*/

#awards {
    width: 90%;
    gap: 20px;
    height: 400px;
    margin: 50px auto;
    display: flex;
}

#awardsh1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 30px 0;
}

.award {
    box-shadow: 0 0 20px #d5b1a3;
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.award1 {
    background-image: url(../images/award11.jpg);
}
.award2 {
    background-image: url(../images/award12.jpg);
}
.award3 {
    background-image: url(../images/award13.jpg);
}
.award4 {
    background-image: url(../images/award14.jpg);
}

#kitchen {
    width: 90%;
    margin: 0 auto;
}
#kitchenh1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin: 30px 0;

}
#kitchenp {
    text-align: center;
    margin: 40px auto;
    width: 90%;
    font-size: 15px;
    font-weight: 400;
}

.hided {
    display: none;
}
/* Header */
@media screen and (max-width: 767px) {

    /*Main page*/

    .shedule {
        margin-top: 20px; 
    }
    #nav-toggle:checked~.logo   {
        display: none;

    }
    #nav-toggle:checked~.navigation {
        display: block;
    }
    
    #nav-toggle {
        position: absolute;
        top: 29px;
        right: 27px;
        display: none;
    }
    
    .nav-toggle-label {
        position: absolute;
        top: 20px;
        right:20px;
        display: block;
    }
    .nav-toggle-label > i {
        font-size: 1.5em;
    }
    .navigation {
        display: none;
        position: relative;
        text-align: center;
        top: 15%;
        font-size: 20px;
        font-weight: 700;

    }

    .navigation li {
        display: block;
        margin-bottom: 20px;
    }

    #menuhead {
        font-size: 1em;
        width: 10em;
        height: 2.6em;
    }

    #menuhead > a p {
        line-height: 1.3em;
    }
    #abmenuhead {
        font-size: 1em;
        width: 10em;
        height: 2.6em;
    }
    #abmenuhead > a p {
        line-height: 1.3em;
    }



    .logo {
        margin: auto;
        top: 30%;
    }

    .logo>h1 {
        font-size: 48px;
        line-height: 41.57px;
    }

    .logo>p {
        font-size: 20px;
        line-height: 18.44px;
    }

    header>h2 {
        display: block;
    }

    #shedule {
        margin-top: 50px;
    }

    #shedule>h1 {
        font-size: 30px;
        font-weight: 400;
    }

    .menushed {
        flex-direction: column;
    }

    .menushed div {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }

    .menushed div>h3 {
        font-weight: 700;
    }


    .menushed div>p {
        font-weight: 300;
    }

    footer {
        font-size: 1px;
    }

    #chefs {
        margin: 0 auto;
    }

    #chefs>h1 {
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;

    }

    .chefsphotos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 282px;
    }

    #chef2 {
        width: 34%;
    }

    #chef3 {
        width: 34%;

    }

    #chef4 {
        width: 34%;

    }

    #chef1 {
        display: none;
    }

    #chef5 {
        display: none;
    }

    #chefsquoute {
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;

    }

    #paul {
        line-height: 40px;
        font-size: 24px;
    }

    #reservation {
        width: 90%;
    }

    #reservation > h1 {
        font-size: 35px;
    }

    input[type="text"] {
        font-size: 14px;
        width: 47%;
    }

    input[type="number"] {
        width: 47%;
        font-size: 14px;
    }
    select {
        font-size: 14px;
        width: 47%;
    }
    textarea {
        width: 47%;
        height: 60px;
    }
    button {
        width: 47%;
        height: 40px;
        margin: 0 auto;
        font-size: 14px;
    
    }

    footer {
        height: 237px;
    }

    .fotdiv {
        width: 95%;

    }
    .fotnav a {
        margin-right: 30px;
        line-height: 30px;
    }
    .fotnav {
         margin-bottom: 10px;
    }


    /*Menu Page*/
    
    .dishes {
        width: 70%;
        margin: 20px auto;
    }
    .dishes div h3 {
        font-size: 16px;
        margin-bottom: 20px;

    }

    .dishes div p {
        font-size: 12px;
    }
    .mainmenuheader {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
    }
    .mainmenuheader h2 {
        font-size: 20px;
        margin: 0 10px;
        line-height: 30px;
    }

   
    /*About Us Page*/
    #historyh1 {
        font-size: 30px;
    }
    #history {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .histlogo {
        height: 50%;
        width: 100%;
    }
    .histlogo h1 {
        font-size: 30px;
    }
    .histtext {
        height: 50%;
        width: 100%;
    }
    .histtext h1 {
        font-size: 18px;
        line-height: 15px;
    }
    .histtext p {
        font-size: 11px;
    }
    #awardsh1 {
        font-size: 30px;
    }
    #awards {
        height: 550px;
        display: flex;
        flex-wrap: wrap;
    }
    .award {
        width: 47%;
    }

    #kitchenh1 {
        font-size: 30px;
    }
    #kitchenp {
        font-size: 10px;
    }
    #locationh1 {
        font-size: 30px;
    }


}




@media screen and (min-width: 767px) and (max-width: 992px) {
    
    /*Main Page*/
    .navigation {
        font-size: 18px;
    }

    .logo > h1 {
        font-size: 90px;
    }

    .logo > p {
        font-size: 30px;
    }

    #shedule > h1 {
        font-size: 35px;
    }

    .menushed > div h3 {
        font-size: 18px;
    }

    .menushed > div p {
        font-size: 15px;
    }

    #chefs > h1 {
        font-size: 35px;
    }

    #chefsquoute {
        width: 70%;
    }

    #reservation > h1 {
        font-size: 35px;
    }

    #reservation {
        width: 80%;
    }

    .dishes div h3 {
        font-size: 25px;
        margin-bottom: 20px;

    }

    .dishes div p {
        font-size: 20px;
    }
    
    .mainmenuheader h2 {
        width: 30%;
        font-size: 22px;
    }

    /*About Us Page*/
    #historyh1 {
        font-size: 38px;
    }
 

    .histlogo h1 {
        font-size: 38px;
    }
    
    .histtext h1 {
        font-size: 24px;
        line-height: 25px;
    }
    .histtext p {
        font-size: 15px;
    }
    #awardsh1 {
        font-size: 38px;
    }
    #awards {
        height: 700px;
        display: flex;
        flex-wrap: wrap;
    }
    .award {
        width: 47%;
    }

    #kitchenh1 {
        font-size: 38px;
    }
    #kitchenp {
        font-size: 15px;
    }
    #locationh1 {
        font-size: 38px;
    }
   

    
}


