* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #E9E9E9;
    font-family: 'Cormorant Garamond', sans-serif;
}

header {
    height: 100vh;
    z-index: 99;
    width: 100%;
    background-image: url('../images/headerbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

a {
    color: #E9E9E9;

    text-decoration: none;
}
.navbar {
    margin: 0 5%;
    font-size: 20px;
    font-weight: 400;
    color: #E9E9E9;
    padding: 2% 19%;


}

.navbar a {
    margin-right: 37px;
}